/* line 1, index.scss */
html {
  width: 11500px;
  height: 10200px;
  position: relative; }

/* line 6, index.scss */
body {
  width: 11500px;
  height: 10200px;
  color: black;
  border-color: #b8b8b8;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("./img/background.jpg"); }

/* line 16, index.scss */
.operate {
  width: 480px;
  height: 300px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 20px;
  left: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 999; }
  /* line 31, index.scss */
  .operate > div {
    width: 140px;
    height: 50px;
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 1s linear all; }
    /* line 44, index.scss */
    .operate > div:hover {
      color: #000;
      background: #ccc;
      font-weight: bold; }
    /* line 49, index.scss */
    .operate > div img {
      width: 30px;
      height: 100%;
      margin-right: 10px; }

/* line 56, index.scss */
.part {
  width: 904px;
  height: 509px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  border-width: 0;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: 2; }

/* line 68, index.scss */
.part1 {
  top: 100px;
  left: 1786px; }

/* line 72, index.scss */
.part2 {
  top: 1025px;
  left: 2787px; }

/* line 76, index.scss */
.part3 {
  top: 2143px;
  left: 3836px; }

/* line 80, index.scss */
.part4 {
  top: 2828px;
  left: 4694px; }

/* line 84, index.scss */
.part5 {
  top: 4286px;
  left: 5377px; }

/* line 88, index.scss */
.part6 {
  top: 4898px;
  left: 6049px; }

/* line 92, index.scss */
.part7 {
  top: 6127px;
  left: 6259px; }

/* line 96, index.scss */
.part8 {
  top: 7500px;
  left: 9065px; }

/* line 100, index.scss */
.part9 {
  top: 8675px;
  left: 9371px; }

/* line 104, index.scss */
.part10 {
  top: 9573px;
  left: 10668px; }
